In [18]:
# Importamos las librerias
import pandas as pd

In [19]:
# Cargamoslos datos 
data = pd.read_json('C:/Users/HP/Downloads/output_steam_games.json', lines=True)

In [20]:
# Imprimimos el tamaño del dataframe
data.shape

(120445, 13)

In [21]:
# Boramos las columnas que no vamos a usar 
data.drop(['url','reviews_url', 'publisher','early_access'], axis= 1, inplace= True)

In [22]:
# Borramos las filas que tengan todas las colunas con valores NA
data.dropna(how='all', inplace=True)

In [23]:
# Mostramos las 5 primeras filas del dataframe 
data.head(5)

,genres,app_name,title,release_date,tags,specs,price,id,developer
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",[Single-player],4.99,761140.0,Kotoshiro
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...","[Single-player, Multi-player, Online Multi-Pla...",Free To Play,643980.0,Secret Level SRL
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...","[Single-player, Multi-player, Online Multi-Pla...",Free to Play,670290.0,Poolians.com
88313,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,2017-12-07,"[Action, Adventure, Casual]",[Single-player],0.99,767400.0,彼岸领域
88314,None,Log Challenge,None,None,"[Action, Indie, Casual, Sports]","[Single-player, Full controller support, HTC V...",2.99,773570.0,None

In [24]:
# Mostramos la infromacion del dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32135 entries, 88310 to 120444
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        28852 non-null  object
 1   app_name      32133 non-null  object
 2   title         30085 non-null  object
 3   release_date  30068 non-null  object
 4   tags          31972 non-null  object
 5   specs         31465 non-null  object
 6   price         30758 non-null  object
 7   id            32133 non-null  float64
 8   developer     28836 non-null  object
dtypes: float64(1), object(8)
memory usage: 2.5+ MB

In [25]:
# Mostramos los valores unicos de los precios ya que no es tipo numerico, lo que quiere decir que hay algo mas que numeros
data['price'].unique()

array([4.99, 'Free To Play', 'Free to Play', 0.99, 2.99, 3.99, 9.99,
       18.99, 29.99, None, 'Free', 10.99, 1.5899999999999999, 14.99, 1.99,
       59.99, 8.99, 6.99, 7.99, 39.99, 19.99, 7.49, 12.99, 5.99, 2.49,
       15.99, 1.25, 24.99, 17.99, 61.99, 3.49, 11.99, 13.99, 'Free Demo',
       'Play for Free!', 34.99, 74.76, 1.49, 32.99, 99.99, 14.95, 69.99,
       16.99, 79.99, 49.99, 5.0, 44.99, 13.98, 29.96, 119.99, 109.99,
       149.99, 771.71, 'Install Now', 21.99, 89.99,
       'Play WARMACHINE: Tactics Demo', 0.98, 139.92, 4.29, 64.99,
       'Free Mod', 54.99, 74.99, 'Install Theme', 0.89, 'Third-party',
       0.5, 'Play Now', 299.99, 1.29, 3.0, 15.0, 5.49, 23.99, 49.0, 20.99,
       10.93, 1.3900000000000001, 'Free HITMAN™ Holiday Pack', 36.99,
       4.49, 2.0, 4.0, 9.0, 234.99, 1.9500000000000002, 1.5, 199.0, 189.0,
       6.66, 27.99, 10.49, 129.99, 179.0, 26.99, 399.99, 31.99, 399.0,
       20.0, 40.0, 3.33, 199.99, 22.99, 320.0, 38.85, 71.7, 59.95, 995.0,
       27.49, 3.39, 6.0, 19.95, 499.99, 16.06, 4.68, 131.4, 44.98, 202.76,
       1.0, 2.3, 0.9500000000000001, 172.24, 249.99, 2.9699999999999998,
       10.96, 10.0, 30.0, 2.66, 6.48, 19.29, 11.15, 18.9, 2.89,
       'Play the Demo', 99.0, 87.94, 599.0, 8.98, 9.69, 0.49, 9.98, 9.95,
       7.0, 'Starting at $499.00', 'Starting at $449.00', 12.89, 6.49,
       1.87, 42.99, 41.99, 289.99, 'Free to Try', 23.96, 5.65, 12.0,
       13.37, 189.96, 124.99, 'Free Movie', 19.98, 160.91, 'Free to Use'],
      dtype=object)

In [26]:
# Creamos una variable con los casos dentro de price que vamos a reemplazar 
pd.set_option('future.no_silent_downcasting', True)
mapping={'Free To Play': 0, 'Free to Play':0, 'Free': 0, 'Free Demo':0,
         'Install Now':0, 'Play WARMACHINE: Tactics Demo':0, 'Free Mod':0,
         'Free Mod':0, 'Install Theme':0, 'Third-party':0, 'Play Now':0,
         'Free HITMAN™ Holiday Pack':0,'Play the Demo':0,'Starting at $499.00':0,
         'Free to Try':0,'Free Movie':0, 'Free to Use':0,'Play for Free!':0,
         'Starting at $449.00':0}
# Le hacemos el reemplazo
data['price']= data['price'].replace(mapping)

In [27]:
# Cambiamos el tipo de variables de las columnas 
data['id'] = data['id'].astype('Int64')
data['price']= data['price'].astype('float')

In [28]:
#Mostramos las dimensiones del dataframe
data.shape

(32135, 9)

In [29]:
# Sacamos los primeros elementos de las columnas que tienen una lista 
data['principal_genre'] = data['genres'].apply(lambda x: x[0] if isinstance(x, list) and len(x) > 0 else None)
data['principal_tag'] = data['tags'].apply(lambda x: x[0] if isinstance(x, list) and len(x) > 0 else None)
data['principal_spec'] = data['specs'].apply(lambda x: x[0] if isinstance(x, list) and len(x) > 0 else None)

In [30]:
# Borramos las columnas 
data.drop(['genres','tags','specs'], axis=1 ,inplace= True)

In [31]:
# Mostramos las ultimas 5 filas del dataframe
data.tail(5)

,app_name,title,release_date,price,id,developer,principal_genre,principal_tag,principal_spec
120440,Colony On Mars,Colony On Mars,2018-01-04,1.99,773640,"Nikita ""Ghost_RUS""",Casual,Strategy,Single-player
120441,LOGistICAL: South Africa,LOGistICAL: South Africa,2018-01-04,4.99,733530,Sacada,Casual,Strategy,Single-player
120442,Russian Roads,Russian Roads,2018-01-04,1.99,610660,Laush Dmitriy Sergeevich,Indie,Indie,Single-player
120443,EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns",Casual,Indie,Single-player
120444,Maze Run VR,None,None,4.99,681550,None,None,Early Access,Single-player

In [32]:
# Contamos los nulos
data.isnull().sum()

app_name              2
title              2050
release_date       2067
price              1377
id                    2
developer          3299
principal_genre    3283
principal_tag       163
principal_spec      670
dtype: int64

In [33]:
# Borramos la columna
data.drop('title', axis=1, inplace=True)
# Borramos las filas con nulos en las colunmas app_name e id
data.dropna(subset=['app_name','id'], inplace=True)

In [34]:
# Convertimos la columna release_date en tipo fecha y le sacamos el año 
data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce').dt.strftime('%Y-%m-%d')
data['release_year'] = pd.to_datetime(data['release_date'], errors='coerce').dt.year
data['release_year'] = data['release_year'].astype('Int64')

In [35]:
# Borramos la colunma 
data.drop('release_date', axis= 1, inplace=True)

In [39]:
# Reemplazamos los datos nulos 
data['price'] = data['price'].fillna(data['price'].mean())
data['developer'] = data['developer'].fillna('Sin dato')
data['principal_genre'] = data['principal_genre'].fillna('Sin dato')
data['principal_tag'] = data['principal_tag'].fillna('Sin dato')
data['principal_spec'] = data['principal_spec'].fillna('Sin dato')
data['release_year'] = data['release_year'].fillna(data['release_year'].mode().iloc[0])

In [40]:
# Mostramos los nulos por columna 
data.isnull().sum()

app_name           0
price              0
id                 0
developer          0
principal_genre    0
principal_tag      0
principal_spec     0
release_year       0
dtype: int64

In [43]:
# Exportamos el dataframe en formato csv
data.to_csv('C:/Users/HP/Documents/Proyectos/PI_1_Mlops/Data/steam_games.csv',index= False)